USE [master]
GO
/****** Object:  Database [SchoolDBFirst]    Script Date: 2023-03-01 12:12:54 ******/
CREATE DATABASE [SchoolDBFirst]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SchoolDBFirst', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SchoolDBFirst.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SchoolDBFirst_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SchoolDBFirst_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SchoolDBFirst].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SchoolDBFirst]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2023-03-01 12:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Betygs]    Script Date: 2023-03-01 12:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Betygs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[PersonalID] [int] NOT NULL,
	[KursID] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[Betygbetyg] [int] NOT NULL,
 CONSTRAINT [PK_Betygs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klasses]    Script Date: 2023-03-01 12:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klasses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Klasses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kurses]    Script Date: 2023-03-01 12:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kurses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Activ] [bit] NOT NULL,
 CONSTRAINT [PK_Kurses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personals]    Script Date: 2023-03-01 12:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personals](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[PersonNumber] [nvarchar](max) NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[DateEmployed] [datetime2](7) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_Personals] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2023-03-01 12:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 2023-03-01 12:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[PersonNumber] [nvarchar](max) NULL,
	[KlassID] [int] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Betygs_KursID]    Script Date: 2023-03-01 12:12:55 ******/
CREATE NONCLUSTERED INDEX [IX_Betygs_KursID] ON [dbo].[Betygs]
(
	[KursID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Betygs_PersonalID]    Script Date: 2023-03-01 12:12:55 ******/
CREATE NONCLUSTERED INDEX [IX_Betygs_PersonalID] ON [dbo].[Betygs]
(
	[PersonalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Betygs_StudentID]    Script Date: 2023-03-01 12:12:55 ******/
CREATE NONCLUSTERED INDEX [IX_Betygs_StudentID] ON [dbo].[Betygs]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Personals_RoleID]    Script Date: 2023-03-01 12:12:55 ******/
CREATE NONCLUSTERED INDEX [IX_Personals_RoleID] ON [dbo].[Personals]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Students_KlassID]    Script Date: 2023-03-01 12:12:55 ******/
CREATE NONCLUSTERED INDEX [IX_Students_KlassID] ON [dbo].[Students]
(
	[KlassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kurses] ADD  DEFAULT (CONVERT([bit],(0))) FOR [Activ]
GO
ALTER TABLE [dbo].[Personals] ADD  CONSTRAINT [DF__Personals__Salar__5535A963]  DEFAULT ((0.0)) FOR [Salary]
GO
ALTER TABLE [dbo].[Personals] ADD  CONSTRAINT [DF__Personals__DateE__534D60F1]  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [DateEmployed]
GO
ALTER TABLE [dbo].[Personals] ADD  CONSTRAINT [DF__Personals__RoleI__5441852A]  DEFAULT ((0)) FOR [RoleID]
GO
ALTER TABLE [dbo].[Betygs]  WITH CHECK ADD  CONSTRAINT [FK_Betygs_Kurses_KursID] FOREIGN KEY([KursID])
REFERENCES [dbo].[Kurses] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Betygs] CHECK CONSTRAINT [FK_Betygs_Kurses_KursID]
GO
ALTER TABLE [dbo].[Betygs]  WITH CHECK ADD  CONSTRAINT [FK_Betygs_Personals_PersonalID] FOREIGN KEY([PersonalID])
REFERENCES [dbo].[Personals] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Betygs] CHECK CONSTRAINT [FK_Betygs_Personals_PersonalID]
GO
ALTER TABLE [dbo].[Betygs]  WITH CHECK ADD  CONSTRAINT [FK_Betygs_Students_StudentID] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Betygs] CHECK CONSTRAINT [FK_Betygs_Students_StudentID]
GO
ALTER TABLE [dbo].[Personals]  WITH CHECK ADD  CONSTRAINT [FK_Personals_Roles_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Personals] CHECK CONSTRAINT [FK_Personals_Roles_RoleID]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Klasses_KlassID] FOREIGN KEY([KlassID])
REFERENCES [dbo].[Klasses] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Klasses_KlassID]
GO
/****** Object:  StoredProcedure [dbo].[GetStudentInfo]    Script Date: 2023-03-01 12:12:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Skapa stored procedure
CREATE PROCEDURE [dbo].[GetStudentInfo]
    @StudentID INT
AS
BEGIN
    SELECT *
	FROM Students
    WHERE Students.ID = @StudentID;
END
GO
USE [master]
GO
